<form [formGroup]="formConfig" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Nome Real</mat-label>
    <input matInput formControlName="nome" required>
    <mat-error *ngIf="formConfig.get('nome')?.hasError('required')">
      Nome é obrigatório
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nome de Herói</mat-label>
    <input matInput formControlName="nomeHeroi" required>
    <mat-error *ngIf="formConfig.get('nomeHeroi')?.hasError('required')">
      Nome de herói é obrigatório
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data de Nascimento</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dataNascimento" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="formConfig.get('dataNascimento')?.hasError('required')">
      Data de nascimento é obrigatória
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Peso (kg)</mat-label>
    <input matInput type="number" formControlName="peso" required>
    <mat-error *ngIf="formConfig.get('peso')?.hasError('required')">
      Peso é obrigatório
    </mat-error>
    <mat-error *ngIf="formConfig.get('peso')?.hasError('min')">
      Peso deve ser maior que zero
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Altura (cm)</mat-label>
    <input matInput type="number" formControlName="altura" required>
    <mat-error *ngIf="formConfig.get('altura')?.hasError('required')">
      Altura é obrigatória
    </mat-error>
    <mat-error *ngIf="formConfig.get('altura')?.hasError('min')">
      Altura deve ser maior que zero
    </mat-error>
  </mat-form-field>
   <mat-form-field>
    <mat-label>Superpoderes</mat-label>
    <mat-select formControlName="superpoderes" multiple required>
      <mat-option *ngFor="let poder of listaSuperpoderes" [value]="poder.id">
        {{ poder.superpoder }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formConfig.get('superpoderes')?.hasError('required')">
      Selecione ao menos um superpoder.
    </mat-error>
  </mat-form-field>

  

  <button mat-raised-button color="primary" type="submit">
    Salvar
  </button>
</form>
